:root {
    --main-color: #FFA9AB;
    --wh-color: #fff;
    --lightgreen-color: rgba(35, 85, 52, 0.11);
    --border-color: rgba(88, 88, 88, 0.274);
    --background-table: rgba(219, 219, 219, 0.514);
    --purple-color: rgb(80, 66, 207);
    --grey-color: rgb(141, 141, 141);
    --gap: 3rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif; */
    
html {
    font-size: 62.5%;
}
    
html, body {
    scroll-behavior: smooth;
}
    
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    color: var(--main-color);
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 7rem;
    text-transform: uppercase;
}

h2 {
    font-size: 6rem;
}

h3 {
    font-size: 5rem;
}

h4 {
    font-size: 4.5rem;
}

h5 {
    font-size: 4rem;
}

h6 {
    font-size: 1.5rem;
}

a {
    text-decoration: none;
}

table {
    min-width: 50rem;
    width: 100%;
    border-collapse: collapse;
}

table caption {
    margin-bottom: 1rem;
    text-align: left;
    caption-side: bottom;
    font-style: italic;
    font-size: 1.8rem;
}

table td, table th {
    border: 0.1rem solid var(--border-color);
    text-align: left;
    padding: 0.5rem;
    white-space: nowrap;
}

tfoot td, thead th {
    background: var(--background-table);
}

.main-bg {
    background-image: url('../img/rose-petals.svg');
    background-position: center center;
    color: var(--wh-color);
}

.white-bg {
    background: var(--wh-color);
}

.main-content {
    max-width: 100rem;
    margin: 0 auto;
    padding: 7rem var(--gap);
}

.sections {
    min-height: 100vh;
}

/* 
.spacing {
    height: 6.5rem;
} */

.grid-one {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    counter-reset: grid-counter;
}

.grid-two {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--gap);
    counter-reset: grid-counter;
}

.grid-one h3{
    font-size: 3rem;
    position: relative;
    padding: 0 0 2rem 5.5rem;
}

.grid-one h3::before {
    counter-increment: grid-counter;
    content: counter(grid-counter);
    position: absolute;
    font-size: 6rem;
    font-style: italic;
    top: -2.3rem;
    left: 0;
    transform: rotate(3deg);
}

body .full-width {
    width: 100%;
    flex: 1 1 100%;
}

.back-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background-color: var(--wh-color);
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--main-color);
    font-size: 1.6rem;
    border: 0.1rem solid var(--main-color);
    transform: rotate(-90deg);
}

.menu {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border: 0.1rem solid var(--lightgreen-color);
}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.menu h1 a{
    color: var(--main-color);
    font-size: 2.5rem;
}

.menu h1{
    color: var(--main-color);
    font-size: 2.5rem;
}

.menu ul li a{
    display: block;
    color: inherit;
    font-size: 1.8rem;
    padding: 2rem;
    position: relative;
}

.menu ul li a::after{
    content: '';
    position: absolute;
    bottom: 1.2rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background: var(--main-color);
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after{
    width: 50%;
    left: 25%;
}

.menu ul{
    list-style: none;
    display: flex;
}

.close-menu {
    display: none;
}

.intro {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: var(--gap);
    min-height: 100vh;
    overflow: hidden;  
}

.intro-content, .intro-img {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

/* 
.intro-img {
    position: relative;
    top: 10rem;
    left: 15rem;
    background-image: url(../img/beachday.svg);
    background-size: cover;
    background-position: center center;
    width: 37rem;
    height: 40rem;
} */

.intro-img img{
    margin-left: 10rem;
    max-width: 80%;
    min-height: auto;
}

.top3 {
    text-align: center;
    min-height: 100vh;
}

.top3-content {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    margin: 0 5rem;
}

.top3-content p{
    margin-bottom: 2.5rem;
    margin-top: 0.5rem;
}

.notes {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
}

.notes p{
    font-size: 1.8rem;
}

.notes-content {
    position: relative;
    margin-bottom: 6rem;
}

.gallery {
    min-height: 100vh;
}

.gallery-content{
    margin-bottom: 5rem;
}

.gallery-img {
    width: 100%;
    height: 100%;
    max-width: 18rem;
    max-height: 18rem;
    overflow: hidden;
}

.gallery-img img{
    transition: all 300ms ease-in-out;
}

.gallery-img img:hover{
    transform: scale(1.4) rotate(5deg);
}

.responsive-table {
    overflow: hidden;
    overflow-x: auto;
}

.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 5rem;
} 

.contact-form {
    grid-column: span 2;
}

.contact-form .form-grid{
    border: none;
    display: flex;
    flex-flow: row wrap;
    gap: var(--gap);
}

.form-grid legend{
    font-size: 1.6rem;
    font-style: italic;
    margin-bottom: 1rem;
}

.forms {
    flex: 1 1 32rem;
}

.forms label{
    display: block;
}

.forms input, 
.forms textarea {
    background: var(--wh-color);
    border: none;
    padding: 1rem 1rem;
    width: 100%;
    outline: none;
    font-size: 2rem;
}

.forms input:focus, 
.forms textarea:focus {
    box-shadow: 0rem 0rem 0.5rem 0.2rem var(--purple-color);
}

.forms button {
    border: 0.3rem solid var(--wh-color);
    background: none;
    color: var(--wh-color);
    padding: 2rem;
    font-size: 2rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.forms button:hover {
    background: var(--wh-color);
    color: var(--main-color);
}

::placeholder {
    font-size: 2rem;
    color: var(--grey-color);
}

.footer {
    display: flex;
    place-content: center;
    margin-top: 3rem;
}

.footer a {
    color: var(--main-color);
    font-size: 1.6rem;
    padding: 3rem;
}


@media (max-width: 62rem) {
    .intro {
        margin-top: 5rem;
        grid-template-columns: 1fr;   
    }

    .intro-img img {
        margin-left: 0;
        max-width: 100%;
    }
    
    .grid-one {
        grid-template-columns: 1fr;
    }

    .menu {
        bottom: 0;
        text-align: center;
    }

    .menu-content, .menu-content ul {
        flex-flow: column wrap;
        justify-content: center;
    }
    
    .menu-content {
        min-height: 100vh;
    }

    .menu {
        display: none;
    }

    .close-menu-label::after {
        content: '☰';
        position: fixed;
        z-index: 4;
        top: 1rem;
        right: 1rem;
        background: var(--main-color);
        color: var(--wh-color);
        font-size: 3rem;
        line-height: 3rem;
        width: 3rem;
        height: 3rem;
        text-align: center;
        padding: 0.5rem;
        cursor: pointer;
    }

    .close-menu:checked~.menu {
        display: block;
    }

    .close-menu:checked~.close-menu-label::after {
        content: '×';
    }

    .intro {
        margin-top: 0;
    }
}

@media (max-width: 40rem) {
    .grid-two {
        grid-template-columns: 1fr 1fr;
    }
    
    .gallery-img {
        width: 100%;
        max-width: 100%;
        max-height: 100%;
    }
    
    .gallery-img img{
        width: 100%;
    }
}

@media (max-width: 20rem) {
    .grid-two {
        grid-template-columns: 1fr;
    }

    .gallery-img {
        width: 100%;
        max-width: 100%;
        max-height: 100%;
    }

    .gallery-img img{
        width: 100%;
    }

}
